.home{
    border-radius: 17px;
    background-color: var(--primary-color);
}

.about-us{
    /* box-shadow: rgba(15, 4, 4, 0.15) 0px 3px 3px 0px; */
     /* text-align: justify;
    background-image: url("../images/bg.png");
   border-style:inset; */
   margin: 10px 30px 30px 10px;
    /* border-radius: 10px;
  background-color: lightblue;  */
 }

.business-model{
    text-align: justify;
    background-color: var(--Tertiary-colour);
    padding:35px;
    margin: 10px 30px 30px 10px;
    border-radius: 10px;

}
.the-team{
     box-shadow: rgba(26, 26, 26, 0.056) 0px 3px 3px 0px;
     text-align: justify;
     background-color: bisque;
     padding:35px;
     margin: 10px 30px 30px 10px;
     border-radius: 10px;
    
}
@media only screen and (min-width: 1350px) {
    .business-model-content{
        display: flex;
    }
    .content-image{
        background-image: url("../images/Business\ Model.png");
        background-repeat: no-repeat;
        width:800px;
        height: 300px;
        background-size: 100%;
        margin: 20px;
        margin-bottom: 0px;
    }
}


.the-team-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2px auto;
}
.the-team-container a{
    font-size: 1rem;
}
.heading_name{
    box-shadow: rgba(26, 26, 26, 0.056) 0px 3px 3px 0px;
     text-align: justify;
    background-color:rgba(246, 248, 246, 0.098);
    background-image: url("../images/bg.png");
     padding:35px;
     margin: 10px 10px 10px 10px;
     border-radius: 10px;
     width: 700px;
}

.card{
    font-weight: normal;
    margin: 5px;
    text-align: left;
    width: 200px;
    height: fit-content;
    padding:10px;
    
}

.card img{
    box-shadow: rgba(33, 235, 127, 0.14) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 170px;
    height: 200px;
    border-radius: 5px;
}

.card h3{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

h2{
    font-size: 1.4rem;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(115, 104, 104, 0.966);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: black;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: black;
  }
  
  .sidenav a:hover {
    color: white;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
